@using Application.StateManagement.AppState1.Specific
@using Application.StateManagement.Common
@using Application.StateManagement.Specific
@using Domain.States
@using MediatR
@rendermode InteractiveServer

<h3>Update State1</h3>
<div class="add-number-section">
    <div class="form-group">
        <label for="newNumber">Add Number:</label>
        <input @bind="input" id="newItem" class="form-control" placeholder="Enter text"/>
    </div>
    <button @onclick="AddNumber" class="action-button mt-2">Add to State</button>
</div>


@code {
protected override bool ShouldRender() => _shouldRender;
private bool _shouldRender = true;
    [Inject] private IMediator _mediator { get; init; }

    private string input = "42";

    public async Task AddNumber() => AddNumber(0);

    public async Task AddNumber(uint attempts)
    {
        if (attempts > 100)
            throw new TooManyReattemptsException();
        
        var previousState1 = await _mediator.Send(new GetAppState1Request());
        var newState1 = new AppState1() {  Items = previousState1.Items.Concat([input]).ToList() };
        try
        {
            await _mediator.Send(new SetAppState1Request() { NewState = newState1, LastStateHash = previousState1.GetHashCode() });
        }
        catch (HashOutdatedException)
        {
            AddNumber(++attempts);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("AFTER RENDER (APPSTATE1PRODUCER)");
        base.OnAfterRender(firstRender);
        _shouldRender = false;
    }


}