@using Microsoft.AspNetCore.Mvc.RazorPages
@page "/state-demo"

<h1>App State Management Demo</h1>

<div class="row">
    <div class="col-md-6">
        <AppState1Consumer/>
    </div>

    <div class="col-md-6 update-section">
        <AppState1Producer/>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <AppState2Consumer/>
    </div>

    <div class="col-md-6 update-section">
        <AppState2Producer/>
    </div>
</div>
