@using System.Net.Http
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop

@page "/blazortest"
@rendermode InteractiveServer

<h4>Simple Text Binding Test</h4>

<input @bind="myText" placeholder="Type something..." />

<p>You typed: @myText</p>

<button @onclick="LogText">Log</button>

@code {
private string myText = "d";

private void LogText()
{
Console.WriteLine($"Current text: {myText}");


}
protected override void OnAfterRender(bool firstRender)
{
Console.WriteLine("AFTER RENDER");
base.OnAfterRender(firstRender);
}
}

