@page
@model Presentation.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>State Management Playground</p>
    
    <a href="/AppStatePage" class="action-button">Go to App State Demo</a>
</div>