@using Domain.States
@inherits AppStateComponentBase

<div class="app-state-component @ComponentAnimationClass">
    <h3>App State</h3>
    
    <ul class="number-list">
        @foreach (var number in AppState.Numbers)
        {
            <li class="@ListAnimationClass">@number</li>
        }
    </ul>
</div>